{% spaceless %}

<div data-uark-news-widget-config='https://wordpress.uark.edu/business/uark-news-widget/new-homepage-feed/' class='uark-news-embed'>
	<div class='col-md-12 news-item-oldschool'>

		{% for item in output %}

			<div class='media'>
				<a class='pull-left' href='{{ item.link }}'>
					<img src='{{ item.thumbnail }}' alt='{{ item.title | raw }} featured image'/>
				</a>
				<div class='media-body'>
					<h4 class='media-heading'><a href='{{ item.link }}'>{{ item.title | raw }}</a></h4>
					{{ item.excerpt | raw }}
				</div>
			</div>

		{% endfor %}

	</div>
</div>

{% endspaceless %}

<style>
	@media only screen and (min-width: 480px){
		.media img {
			width: 128px;
		}
	}
</style>
