{% spaceless %}
<div class='uark-news-embed'>
  <div class='col-md-12 news-item-oldschool'>

    {% for item in items %}

      <div class='media'>
        <a class='pull-left' href='{{ item.link }}'>
            <img src='{{ item.image.thumbnail }}' alt='{{ item.title }} featured image'/>
        </a>
        <div class='media-body'>
          <h4 class='media-heading'><a href='{{ item.link }}'>{{ item.title }}</a></h4>
          {{ item.excerpt }}
        </div>
      </div>

    {% endfor %}

  </div>
</div>

<style>
@media only screen and (min-width: 480px){
  .uark-news-embed .media img {
    width: 128px;
  }
}
</style>
{% endspaceless %}
